/* body, #content */
body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body.theme-light {
  background-color: #fff;
  color: black;
}

body.theme-dark {
  background-color: #222;
  color: white;
}

#content {
  position: fixed;
  top: 32px;
  width: 100%;
  bottom: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* #titlebar, #titlebar-text, #titlebar-drag */

#titlebar {
  position: fixed;
  height: 32px;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 138px;
}

#titlebar-text {
  position: relative;
  grid-column: 1;
  display: flex;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
  user-select: none;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  white-space: nowrap;
  padding-left: 12px;
}

.theme-dark #titlebar-text {
  color: white;
}

.blurred #titlebar-text {
  opacity: 0.5;
}

#titlebar-drag {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 0;
  -webkit-app-region: drag;
}

.maximized #titlebar-drag,
.full-screen #titlebar-drag {
  top: 0;
  left: 0;
  right: 0;
}

/* #titlebar-buttons, .button, .icon, .icon-white, .icon-black */

#titlebar-buttons {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: relative;
  -webkit-app-region: none;
}

#titlebar-buttons .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
  cursor: default;
}

.blurred #titlebar-buttons .button {
  opacity: 0.5;
}

#titlebar-buttons .button:hover {
  opacity: 1;
}

.theme-light #titlebar-buttons .button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.theme-light #titlebar-buttons .button:active {
  background: rgba(0, 0, 0, 0.2);
}

.theme-dark #titlebar-buttons .button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.theme-dark #titlebar-buttons .button:active {
  background: rgba(255, 255, 255, 0.2);
}

#titlebar-buttons .icon {
  -webkit-user-drag: none;
}

.theme-light #titlebar-button-close:hover:not(:active) .icon-white {
  display: inline;
}

.theme-light #titlebar-button-close:hover:not(:active) .icon-black {
  display: none;
}

.theme-dark #titlebar-button-close:active .icon-white {
  display: none;
}

.theme-dark #titlebar-button-close:active .icon-black {
  display: inline;
}

.theme-dark #titlebar-buttons .icon-black {
  display: none;
}

.theme-light #titlebar-buttons .icon-white {
  display: none;
}

/* #titlebar-button-minimize, #titlebar-button-maximize, #titlebar-button-restore, #titlebar-button-close */

#titlebar-button-minimize {
  grid-column: 1;
}

#titlebar-button-maximize,
#titlebar-button-restore {
  grid-column: 2;
}

#titlebar-button-close {
  grid-column: 3;
}

#titlebar-button-restore {
  display: none !important;
}

#titlebar-button-maximize {
  display: flex;
}

.full-screen #titlebar-button-restore,
.maximized #titlebar-button-restore {
  display: flex !important;
}

.full-screen #titlebar-button-maximize,
.maximized #titlebar-button-maximize {
  display: none;
}

#titlebar-button-close:hover {
  background: #e81123 !important;
}

#titlebar-button-close:active {
  background: #f1707a !important;
  color: #000;
}
